html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}

	&:before {
		@include media('small') {
			content: 'small';
		}
		@include media('medium') {
			content: 'medium';
		}
		@include media('large') {
			content: 'large';
		}
		@include media('xlarge') {
			content: 'xlarge';
		}

		position: absolute;
		left: -99999px;
		content: 'xsmall';
	}
}