#app {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	flex-direction: column;
	box-sizing: border-box;

	&:before {
		@include media('small') {
			content: 'small';
		}
		@include media('medium') {
			content: 'medium';
		}
		@include media('large') {
			content: 'large';
		}
		@include media('xlarge') {
			content: 'xlarge';
		}

		position: absolute;
		left: -99999px;
		content: 'xsmall';
	}
}

.app__inner {
	margin: 0 auto;
	width: 100%;
	max-width: 1140px;
}

.app__section {
	padding: 0 20px 50px;
	width: 100%;

	&:first-child {
		padding-top: 50px;
	}
}

.app__section__item {
	padding-bottom: 50px;

	&:last-child {
		padding-bottom: 0;
	}
}